*.onnx filter=lfs diff=lfs merge=lfs -text
public/models/easy-announce/matcha/TANIHO.onnx filter=lfs diff=lfs merge=lfs -text
public/models/easy-announce/matcha/UGUISU.onnx filter=lfs diff=lfs merge=lfs -text
